@import "leaflet/dist/leaflet.css";
/* =================================================== */
/* CONFIGURACIÓN GENERAL DEL MODO OSCURO LOCAL          */
/* =================================================== */
body, html {
  background-color: #121212; /* Fondo negro de la app */
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;
}

/* VARIABLES REUTILIZABLES */
$color-verde-neon: #ccff00;
$color-texto-gris: #b3b3b3;

/* === ESTILOS DE LA BARRA DE NAVEGACIÓN GLOBAL === */
.barra-navegacion {
  background-color: rgba(18, 18, 18, 0.95); /* Fondo negro con leve transparencia */
  backdrop-filter: blur(10px);
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .logo-barsa {
    color: $color-verde-neon;
    font-weight: 800;
    font-size: 1.6rem;
    text-decoration: none;
  }

  .lista-enlaces {
    gap: 1.5rem;
    
    .enlace-delgado {
      color: $color-texto-gris;
      font-weight: 300; /* Letra delgada */
      font-size: 0.95rem;
      text-decoration: none;
      transition: color 0.3s;
      border-bottom: 2px solid transparent;
      
      &:hover { color: #fff; }
    }

    /* Clase automática de Angular para marcar dónde estamos parados */
    .enlace-activo {
      color: $color-verde-neon !important;
      font-weight: 500;
      border-bottom: 2px solid $color-verde-neon;
    }
  }

  .botones-accion-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .enlace-login {
      color: #fff;
      text-decoration: none;
      font-size: 0.95rem;
      font-weight: 300;
      &:hover { color: $color-verde-neon; }
    }

    .boton-verde-redondeado {
      background-color: $color-verde-neon;
      color: #000;
      border-radius: 30px;
      padding: 0.4rem 1.2rem;
      font-weight: 600;
      font-size: 0.9rem;
      border: none;
    }
  }
}